<!-- templates/log_workout.html -->
{% extends 'base.html' %}

{% block content %}
<h1>Log Workout</h1>
<br>
<label for="workout-date">Workout Date:</label>
<input type="date" id="workout-date" name="workout_date" value={{workout_date}} required>
<br>
<br>
<h2>Exercises</h2>
<br>
{% if exercises|length == 0 %}
    <p>Press "Add Exercise" to log an exercise</p>
{% else %}
<div class="log-container-exercises">
    <h4>Exercise</h4>
    <h4>Weight</h4>
    <h4>Sets</h4>
    <h4>Reps</h4>
    <h4>Difficulty</h4>
    <h4>Notes</h4>
    <h4></h4>
    {% for exercise in exercises %}
    <div class="exercise-info">
        <p>{{exercise[0]}}</p>
        <input type="number" name="weight_used" min="1" value={{exercise[1]}} style="width: 75px;">
        <div class="exercise-set-info">
            <input type="number" name="sets_completed" min="1" value={{exercise[2]}} style="width: 75px;">
            {% if exercise[3] != None %}<p> / {{exercise[3]}}</p>{% endif %}
        </div>
        <div class="exercise-rep-info">
            <input type="number" name="reps_completed" min="1" value={{exercise[4]}} style="width: 75px;">
            {% if exercise[5] != None %}<p> / {{exercise[5]}}</p>{% endif %}
        </div>
        <select id="difficulty" name="difficulty">
            <option value="very-easy" {% if exercise[6]==1 %}selected{% endif %}>Very Easy</option>
            <option value="easy" {% if exercise[6]==2 %}selected{% endif %}>Easy</option>
            <option value="medium" {% if exercise[6]==3 %}selected{% endif %}>Medium</option>
            <option value="hard" {% if exercise[6]==4 %}selected{% endif %}>Hard</option>
            <option value="very-hard" {% if exercise[6]==5 %}selected{% endif %}>Very Hard</option>
        </select>
        <textarea name="exercise_notes" style="width: 200px;">{{exercise[7]}}</textarea>
        <form method="POST" action="{{ url_for('delete_log_exercise') }}" style="display: inline;">
            <input type="hidden" name="exercise_name" value="{{exercise[0]}}">
            <button type="submit">Delete</button>
        </form>
    </div>
    {% endfor %}
</div>
{% endif %}
<br>
<h2>Muscle Groups</h2>
{% if muscle_groups|length == 0 %}
    <p>Press "Add Muscle Group" to log a muscle group</p>
{% else %}
<div class="log-container-muscle">
        <h4>Muscle Group</h4>
        <h4>Pump Level</h4>
        <h4>Pre-Workout Soreness</h4>
        <h4>Pre-Workout Recovery</h4>
        <h4>Notes</h4>
        <h4></h4>
        {% for muscle_group in muscle_groups %}
        <p>{{muscle_group[0]}}</p>
        <select id="pump-level" name="pump_level">
            <option value="none" {% if muscle_group[1]==1 %}selected{% endif %}>None</option>
            <option value="low" {% if muscle_group[1]==2 %}selected{% endif %}>Low</option>
            <option value="ok" {% if muscle_group[1]==3 %}selected{% endif %}>Ok</option>
            <option value="good" {% if muscle_group[1]==4 %}selected{% endif %}>Good</option>
            <option value="great" {% if muscle_group[1]==5 %}selected{% endif %}>Great</option>
        </select>
        <select id="pre-workout-soreness" name="pre_workout_soreness">
            <option value="none" {% if muscle_group[2]==1 %}selected{% endif %}>None</option>
            <option value="mild" {% if muscle_group[2]==2 %}selected{% endif %}>Mild</option>
            <option value="moderate" {% if muscle_group[2]==3 %}selected{% endif %}>Moderate</option>
            <option value="strong" {% if muscle_group[2]==4 %}selected{% endif %}>Strong</option>
            <option value="severe" {% if muscle_group[2]==5 %}selected{% endif %}>Severe</option>
        </select>
        <select id="pre-workout-recovery" name="pre_workout_recovery">
            <option value="very-poor" {% if muscle_group[3]==1 %}selected{% endif %}>Very Poor</option>
            <option value="poor" {% if muscle_group[3]==2 %}selected{% endif %}>Poor</option>
            <option value="ok" {% if muscle_group[3]==3 %}selected{% endif %}>Ok</option>
            <option value="good" {% if muscle_group[3]==4 %}selected{% endif %}>Good</option>
            <option value="great" {% if muscle_group[3]==5 %}selected{% endif %}>Perfect</option>
            <option value="overly-recovered" {% if muscle_group[3]==6 %}selected{% endif %}>Overly Recovered</option>
        </select>
        <textarea name="muscle_notes" style="width: 200px;">{{muscle_group[4]}}</textarea>
        <form method="POST" action="{{ url_for('delete_log_muscle_group') }}" style="display: inline;">
            <input type="hidden" name="muscle_group" value="{{muscle_group[0]}}">
            <button type="submit">Delete</button>
        </form>
        {% endfor %}
    </div>
{% endif %}
<br>
<h2>Overall Workout</h2>
<div class="log-container-overall">
    <h4>Duration in Minutes</h4>
    <h4>Workout Type</h4>
    <h4>Performance Rating</h4>
    <h4>Fatigue Induced</h4>
    <h4>Notes</h4>
    <h4></h4>
    {% for workout in overall %}
    <input type="number" name="workout_duration" min="1" value="{{workout[1]}}" style="width: 75px;">
    <select id="workout-type" name="workout_type">
        <option value="push" {% if workout[2]=="push" %}selected{% endif %}>Push</option>
        <option value="pull" {% if workout[2]=="pull" %}selected{% endif %}>Pull</option>
        <option value="legs" {% if workout[2]=="legs" %}selected{% endif %}>Legs</option>
    </select>
    <select id="performance-rating" name="performance_rating">
        <option value="very-poor" {% if workout[3]==1 %}selected{% endif %}>Very Poor</option>
        <option value="poor" {% if workout[3]==2 %}selected{% endif %}>Poor</option>
        <option value="ok" {% if workout[3]==3 %}selected{% endif %}>Ok</option>
        <option value="good" {% if workout[3]==4 %}selected{% endif %}>Good</option>
        <option value="great" {% if workout[3]==5 %}selected{% endif %}>Great</option>
        <option value="phenominal" {% if workout[3]==6 %}selected{% endif %}>Phenomenal</option>
    </select>
    <select id="fatigue-induced" name="fatigue_induced">
        <option value="none" {% if workout[4]==1 %}selected{% endif %}>None</option>
        <option value="mild" {% if workout[4]==2 %}selected{% endif %}>Mild</option>
        <option value="moderate" {% if workout[4]==3 %}selected{% endif %}>Moderate</option>
        <option value="strong" {% if workout[4]==4 %}selected{% endif %}>Strong</option>
        <option value="severe" {% if workout[4]==5 %}selected{% endif %}>Severe</option>
    </select>
    <textarea name="workout_notes" style="width: 200px;">{{workout[5]}}</textarea>
    <form method="POST" action="{{ url_for('delete_log_overall_workout') }}" style="display: inline;">
        <input type="hidden" name="workout_id" value="{{workout[0]}}">
        <button type="submit" {% if no_overall_workout_data %}style="display: none;" {% endif %}>Delete</button>
    </form>
    {% endfor %}
</div>
<br>
<div class="footer-buttons">
    <form method="POST">
        <button type="submit" formaction="{{ url_for('clear_current_workout') }}">Clear Workout</button>
    </form>
</div>
{% endblock %}