<!-- templates/schedule.html -->
{% extends 'base.html' %}

{% block content %}
<div class="header-container">
    <h1>Weekly Workout Schedule</h1>
</div>
<div class="schedule-container">
    {% for day, exercises in schedule.items() %}
    <div class="day-of-week">
    <h2>{{ day }}</h2>
        <div class="exercise-card">
            {% if exercises %}
                <div class="exercise-table">
                    <div>
                        <h3>Exercise</h3>
                        {% for exercise in exercises %}
                            <p>{{ exercise.exercise }}</p>
                        {% endfor %}
                    </div>
                    <div class="sets">
                        <h3>Sets</h3>
                        {% for exercise in exercises %}
                            <p>{{ exercise.sets }}</p>
                        {% endfor %}
                    </div>
                    <div class="reps">
                        <h3>Reps</h3>
                        {% for exercise in exercises %}
                            <p>{{ exercise.reps }}</p>
                        {% endfor %}
                    </div>
                    <div>
                        <h3></h3>
                        {% for exercise in exercises %}
                            <button class="del-btn">Delete</button>
                        {% endfor %}
                    </div>
                    
                </div>
                {% else %}
                    <p class="no-exercises">No exercises scheduled</p>
            {% endif %}
            </br>
            <div class="add-btn-container">
                <button class="add-btn">Add Exercise</button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
